<div class="container-fluid">
    <div class="row justify-content-center mt-4">
      <div class="text-left rounded shadow py-5">
        <h4 class="text-center" style="color: blueviolet;">User Details</h4>
        <hr>
        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
          <table class="table border shadow table-striped">
            <thead class="sticky-top">
              <tr class="bg-dark text-light">
                <th>Sr. no</th>
                <th>User profile</th>
                <th>Contact</th>
                <th>Login Details</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; index as i">
                <td>{{ i + 1 }}</td>
                <td>
                  <div class="row">
                    <img [src]="user.picture.medium" alt="" />
                    {{ user.name.title }}.&nbsp;{{ user.name.first }}&nbsp;{{ user.name.last }}
                    <br />
                    {{ user.gender }}
                    <br />
                    age: {{ user.dob.age }}
                  </div>
                </td>
                <td>
                  <div>
                    <b>Email :</b> {{ user.email }}
                    <br />
                    <b>phone :</b> {{ user.phone }}
                  </div>
                </td>
                <td>
                  <div>
                    <b>username :</b> {{ user.login.username }}
                    <br />
                    <b>password :</b> {{ user.login.password }}
                  </div>
                </td>
                <td>
                  <div>
                    <b>Address :</b> {{ user.location.city }},&nbsp;{{ user.location.state }},&nbsp;{{
                    user.location.country }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  