
<div class="container">
    <div class="row justify-content-center py-4">
     
     <ng-container *ngFor="let cake of cakes">
      
         <div class="col-md-3 pt-5">
        <div class="card" style="width: 15rem;">
        <img [src]="cake.image" class="card-img-top" alt="...">
        <div class="card-body">
        <b><p style="font-size: 12px" class="truncate-paragraph">{{cake.title}}</p></b>
       <a [routerLink]="['/cakedetails', cake.id]" class="btn btn-primary">view details</a>
     </div>
     </div>
   </div>
   </ng-container>
    </div>
   </div>