.ss{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(24, 22, 24);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
    transform: perspective(800px) rotateX(0deg);
}
.headding{
    font-size: 25px;
    color: rgb(34, 27, 32);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
    transform: perspective(800px) rotateX(0deg);
}
.in{
    width: 40%;
}
.custom-icon{
    font-size: 24px;
    color: black;
}

.selecttast{
    margin-left: 18px;
    margin-bottom: 30px;
}
