img{
    height: 200px;
    width: 238px;
}
.truncate-paragraph {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.element:hover {
    transform: scale(1.05);
  }
  
.element {
    transition: transform 0.3s;
  }
