<div class="container">
    <div class="row justify-content-center py-4">
        <ng-container *ngFor="let cake of cakes">
     
            <div class="col-md-3 mb-4 ">
           <div class="card shadow rounded" style="width: 15rem;">
           <img [src]="cake.image" class="card-img-top" alt="...">
           <div class="card-body">
           <b><p style="font-size: 12px" class="truncate-paragraph">{{cake.title}}</p></b>
          <a [routerLink]="['/cakedetails', cake.id]" class="btn btn-primary">Place Order</a>
        </div>
        </div>
      </div>
      </ng-container>
    </div>
    </div>
