<div class="container-fluid py-4">
    <div class="row justify-content-center" >
        <div class=" row text-left rounded  py-5 col-md-12" style="border-radius: 40px;">
            
            <div class="col-md-3">
               <img src="..\assets\pngimg.com - chef_PNG10.png" alt="" height="350px" width="350px">
            </div> 
              
        <div class="col-md-8">
              <div class="row">
                  <div class="col-md-3">
                    <img src="https://www.fnp.com/assets/images/custom/new-desk-home/hero-banners/Birthday.jpg" alt="" class="img">
                  </div>
                  <div class="col-md-9">
                   <p class="mytext"> At <b>CAKEMANIA</b>, we take joy in crafting bespoke birthday cakes that make every celebration extraordinary.
                           Our skilled team of bakers and decorators will create a personalized masterpiece, 
                           combining flavors, designs, and creativity to make your birthday cake truly memorable.
                           </p>
                  </div>
              </div>

              <div class="row" style="margin-top: 5%;">
                <div class="col-md-3">
                  <img src="https://www.fnp.com/assets/images/custom/new-desk-home/hero-banners/Anniversary.jpg" alt="" class="img">
                </div>
                <div class="col-md-9">
                 <p class="mytext"> At <b>CAKEMANIA</b>,  we specialize in creating unique wedding cakes that capture the essence of your love story. Our talented team of pastry chefs and cake decorators will craft an exquisite masterpiece, blending flavors and artistry to make your special day unforgettable.
                         </p>
                </div>
            </div>
                
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-3">
                  <img src="https://www.fnp.com/assets/images/custom/new-desk-home/hero-banners/Wedding.jpg" alt="" class="img">
                </div>
                <div class="col-md-9">
                 <p class="mytext"> At <b>CAKEMANIA</b>,  we specialize in creating unique wedding cakes that capture the essence of your love story. Our talented team of pastry chefs and cake decorators will craft an exquisite masterpiece, blending flavors and artistry to make your special day unforgettable.
                         </p>
                </div>
            </div>

            

        </div>

</div>
</div>
</div>
