<div class="container-fluid">
    <div class="justify-content-center  " >        
       <div class=" row text-left rounded  py-5 col-md-10" style="border-radius: 40px;">
         <div class="row">

           <div class="col-md-3">
            <img src="..\assets\pngimg.com - chef_PNG10.png" alt="" height="80%" width="130%">
           </div> 
           <div class=" col text-justify">    
           <p>Welcome to our delightful <strong>CAKEMANIA</strong> We are passionate about creating the most delicious and visually stunning cakes that will make any occasion truly memorable. At [Your Website Name], we believe that a cake is more than just a dessert—it's an expression of joy, love, and celebration.</p>
           
          
            <p>  Our team of expert bakers and decorators pour their heart and soul into every cake we create. From elegant wedding cakes to whimsical birthday cakes, we strive to exceed your expectations and bring your sweetest dreams to life. We understand that each celebration is unique, and that's why we offer a wide range of cake flavors, fillings, and designs to suit every taste and preference.</p>
            
            <p> Quality is our top priority. We use only the finest ingredients, sourced locally whenever possible, to ensure that every bite of our cakes is a true delight. Whether you crave a classic vanilla cake, a rich chocolate indulgence, or a tropical fruit medley, we have a flavor that will tempt your taste buds and leave you craving for more.</p>
            
            <p> But it's not just about the taste—it's also about the presentation. Our talented cake decorators are artists in their own right. They have mastered the art of turning cakes into stunning works of edible art. From intricate sugar flowers to fondant sculptures, every detail is meticulously crafted to make your cake a showstopper.</p>
            
            <!-- <p> We understand that planning a special event can be stressful, so we strive to make the cake ordering process as easy and convenient as possible. Our website provides a user-friendly interface where you can browse through our cake galleries, explore different flavors and designs, and even customize your cake to perfectly match your theme and preferences. You can also conveniently place your order online and have your cake delivered right to your doorstep.</p> -->
            
            
            <p> Indulge in our delectable creations and experience the magic of <strong>CAKEMANIA</strong>. We promise to make your cake dreams come true!</p>
           </div>
        </div>   
      </div>
        </div>
        </div>
