<div class="container-fluid py-4">
    <div class="row justify-content-center  " >
        <div>
            <img class="img-fluid" src="https://www.fnp.com/assets/images/custom/cakes_23/Cake-Top-Banner_web_2.jpg" alt="" style="border-radius: 1%">
        </div>        
       <div class=" row text-left rounded  py-5 col-md-10" style="border-radius: 40px;">
        <div class="col-md-4">
        <img src="https://media2.giphy.com/media/11USZ5ilAUYRMI/giphy.gif?cid=ecf05e47h3gjht1cbvp8jq109c1p1fel3ni13v7il1iwbhjp&ep=v1_gifs_search&rid=giphy.gif&ct=g" height="75%" width="85%" alt="" style="border-radius: 5%">
        </div>
        <div class="col mt-5">
        Welcome to <strong>CAKEMANIA</strong>, where cake dreams come true!
         We specialize in crafting delicious and visually stunning cakes for every occasion.
         From birthdays to weddings, our talented team of bakers and decorators will create a masterpiece
         that will delight your taste buds and wow your guests. Explore our flavors, designs, and customization
         options to order the perfect cake for your next celebration. Let us add a touch of sweetness to your
         special moments.
        <div style=" margin-top: 5%;">
            <button class="btn btn-outline-success" routerLink="/cakes" routerLinkActive="router-link-active" >Place Order </button>
         </div>
          
           
    </div>    
       
    </div>
     
    </div>
    </div>